* {
    font-family: "Zen Kaku Gothic New", sans-serif;
    color: #363636;
}

body{
    text-align: center;
    justify-content: center;
    background-color: #f5faff;
}

#autumn_subject_inputs{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 24px;
    font-weight: 400;
}

.any-faculty{
    font-size: 12px;
    margin: 0;
}

.spring_inputs_div{
    margin: 24px auto 12px auto;
    width: fit-content;
    background-color: #bad0df;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 2px 2px 5px rgba(78, 78, 78, 0.3); 
}

.spring-inputs-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.spring-inputs-inner p{
    width: 200px;
    text-align: left;
    margin: 0;
}

.spring-inputs-inner input{
    width: 72px;
    height: 24px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
}

.profile-selection-div{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 36px;
}

.profile-selection-div p{
    margin: 0;
}

.only-rikou{
    font-size: 12px;
    color: #4a0909;
    font-weight: bold;
    text-align: left;
}

#autumn_subject{
    justify-content: center;
    align-items: center;
    align-content: center;
}

input[type=radio] {
    display: none; /* ラジオボタンを非表示にする */
}

.subject-radio-group input[type="radio"]:checked:hover + label,
.subject-radio-group input[type="radio"]:checked + label {
    background: #241e76;/* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
}

.subject-radio-group input[type="radio"]:hover + label {
    background: #6b65bc;
    color: #ffffff;
}

.degree-radio-group input[type="radio"]:checked:hover + label,
.degree-radio-group input[type="radio"]:checked + label {
    background: #488768;/* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
}

.degree-radio-group input[type="radio"]:hover + label {
    background: #9ecbb5;
    color: #ffffff; 
}

.gakumon-radio-group input[type="radio"]:checked:hover + label,
.gakumon-radio-group input[type="radio"]:checked + label {
    background: #4380a8;/* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
}

.gakumon-radio-group input[type="radio"]:hover + label {
    background: #76add2;
    color: #ffffff; 
}

.language-radio-group input[type="radio"]:checked:hover + label,
.language-radio-group input[type="radio"]:checked + label {
    background: #8643a8;/* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
}
.language-radio-group input[type="radio"]:hover + label {
    background: #b782d2;
    color: #ffffff; 
}


.subject-label{
    width: 24px; 
    height: 24px;
    padding: 0 2px 0 2px;
    color: #363636;
    text-align: center;
    cursor: pointer; 
    font-weight: 600;
    border-radius: 4px; 
    touch-action: manipulation; 
}


.degree-count-label {
    height: 24px;
    width: 18px; 
    padding: 0 2px 0 2px;
    color: #363636;
    text-align: center;
    cursor: pointer; 
    border-radius: 4px; 
    touch-action: manipulation; 
}

.gakumon-label {
    width: 80px;
    padding: 8px 4px;
    color: #363636;
    text-align: center;
    cursor: pointer; 
    font-weight: 400;
    border-radius: 4px; 
    border: 1.5px solid #4380a8;
    box-shadow: 2px 2px 5px rgba(78, 78, 78, 0.3); 
}
.language-label {
    width: 80px;
    font-size: 12px;
    padding: 2px;
    color: #363636;
    text-align: center;
    cursor: pointer; 
    font-weight: 400;
    border-radius: 4px; 
    border: 1.5px solid #8643a8;
    box-shadow: 2px 2px 5px rgba(78, 78, 78, 0.3); 
}

.language-label span{
    font-size: 32px;
    line-height: 32px;
}

.subject-div{
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(-20px);
    width: fit-content;
    padding: 6px;
    display: flex;
    gap: 6px;
    margin: 12px;
    margin: 12px auto;
    background-color: #b9d2eb;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(78, 78, 78, 0.3); 
}

.subject-div.added {
    transition: all 0.3s ease;
    opacity: 1;
    transform: translateY(0);
}

.subject-div.removing {
    transition: all 0.3s ease-out;
    opacity: 0;
    height: 0;
    transform: scaleY(20px);
}

.remove-subject-button{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: -8px;
    top: -8px;
    background-color: #ee9696; 
    color: white; 
    border: none; 
    border-radius: 12px; 
    width: 24px;
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    touch-action: manipulation; 
}

.subject-inner-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject-inner-div > p{
    font-size: 12px;
    margin: 0 0 4px 0;
    padding: 0;
}

.subject-radio-group, .degree-radio-group, .gakumon-radio-group, .language-radio-group{
    display: flex;
}

.gakumon-radio-group, .language-radio-group{
    gap: 2px;
    justify-content: center;
}

.subject-name-input{
    font-size: 16px;
    line-height: 22px;
    width: 120px;
    border: none;
    border-radius: 4px;
    height: 22px;
    /* overflow: auto; 
    white-space: nowrap; */
}

.action-buttons-div{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.add-subject-button{
    background-color: #5c6dac; 
    color: white;
    border: none; 
    border-radius: 12px; /* 円形にする */
    font-size: 16px;
    padding: 4px 12px;
    font-weight: 400;
    text-align: center;
    line-height: 48px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    box-shadow: 2px 2px 5px rgba(78, 78, 78, 0.3); 
    touch-action: manipulation;
}

.clear-button{
    background-color: #6a6a6a; 
    color: white;
    border: none; 
    border-radius: 12px; /* 円形にする */
    padding: 4px 12px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 48px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    box-shadow: 2px 2px 5px rgba(78, 78, 78, 0.3); 
    touch-action: manipulation; 
}

.autumn_degree_count_preview{
    margin-bottom: 12px;
}

.autumn_degree_count_preview p{
    margin: 0;
}

.degree-count-warning{
    font-size: 8px;
    margin: 4px;
    color: #535353;
}

#autumn_degree_count_text{
    font-weight: 600;
}


.result-div{
    margin-top: 36px;
    gap: 24px;
}

.result-div button{
    background-color: #4380a8; 
    color: white;
    border: none; 
    border-radius: 12px; 
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding: 12px 18px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.gpa-text{
    font-size: 24px;
    margin: 0;
}

#result{
    font-size: 48px;
    color: #488768;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.total-degree-count-text{
    font-size: 18px;
    margin: 0;
}

#total_degree{
    font-weight: 700;
}

footer{
    font-size: 8px;
    padding: 12px;
}

.warning{
    font-size: 10px;
    margin-top: 48px;
}

.message{
    background-color: #b6ebd8;
    border-radius: 24px;
    margin-left: 12px;
    max-width: 600px;
    padding: 12px;
    margin: 24px auto 12px auto;
}

.message h2{
    font-size: 24px;
    margin: 12px;
    font-weight: 500;
}

.message p{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.message span{
    color: rgb(214, 94, 94);
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
}
